*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    font-size: 13px;
    overflow-x: hidden;
}
/*---- CSS Menu e logo ----*/

header{
    background-color: #000;
    height:100px;
    display:flex;
}
header .header{
    width:1120px;
    height:100px;
    margin: auto;
    display: flex;
    align-items:center;
}
header .logo img{
    width:100px;
    height:auto;
}
.menu{
    flex:1;
    display:flex;
    justify-content:flex-end;
}
.menu ul{
    display:flex;
    justify-content:flex-end;
    list-style: none;
}

.menu li a{
    padding-left:10px;
    padding-right: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items:center;
    height:100px;
    border-bottom: 4px solid #000;
    transition: border-bottom 0.3s ease-in-out;
}

.menu li a:hover{
    border-bottom: 4px solid #b98b59;
    color: gray;
}

ul .active a{
    border-bottom: 4px solid #b98b59;
    color: gray;
}

/*---- CSS Banner ----*/

.banner{
    height:calc(100vh - 100px);
    background-color:gray;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .slidersArea{
    width:1000vw;
    height:100%;
}
.banner .slider{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.5);
    justify-content:center;
    align-items:center;
}

.banner .sliderContent{
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.banner .sliderContent h1{
    text-transform: uppercase;
    font-size: 4em;
    line-height: 50px;
    margin-bottom: 13px
    
}
.banner .sliderContent h1{
    color: #fff;
}
.banner .sliderContent span{
    color: #b98b59;
    text-transform: uppercase;
}
.banner .sliderContent p{
    color: #fff;
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.banner .button{
    text-decoration: none;
    color: #fff;
    display: block;
    height:40px;
    line-height:40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    margin-top: 20px;
    border-radius:20px;
    background-color: #b98b59;
    padding: 0 40px;
}

/*---- CSS pointers Slide ----*/

.banner .pointers{
    width:100vw;
    height: 15px;
    position:absolute;
    margin-top:-50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    border-radius:8px;
    margin: 0 5px;
    cursor:pointer;
}
.banner .pointers .active{
    background-color: #b98b59;
}

/*---- Default ----*/
.default{
    background-color:#f7f7f7;
}
