*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    font-size: 13px;
    overflow-x: hidden;
}

/*---- AREA MENU - NAV - LOGO ----*/

header{
    background-color: #000;
    height:100px;
}
.header{
    max-width:1120px;
    height:100px;
    margin: auto;
    display: flex;
    align-items:center;
}
header .logo img{
    width:100px;
    height:auto;
}
.menu{
    flex:1;
    display:flex;
    justify-content:flex-end;
}
.menu ul{
    display:flex;
    justify-content:flex-end;
    list-style: none;
}
.menu li a{
    padding-left:10px;
    padding-right: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items:center;
    height:100px;
    border-bottom: 4px solid #000;
    transition: border-bottom 0.3s ease-in-out;
}
.menu li a:hover{
    border-bottom: 4px solid #b98b59;
    color: gray;
}

ul .active a{
    border-bottom: 4px solid #b98b59;
    color: gray;
}


/*---- AREA Banner ----*/

.banner{
    height:calc(100vh - 100px);
    background-color:gray;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .slidersArea{
    width:1000vw;
    height:100%;
}
.banner .slider{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.5);
    justify-content:center;
    align-items:center;
}

.banner .sliderContent{
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.banner .sliderContent h1{
    text-transform: uppercase;
    font-size: 4em;
    line-height: 50px;
    margin-bottom: 13px
    
}
.banner .sliderContent h1{
    color: #fff;
}
.banner .sliderContent span{
    color: #b98b59;
    text-transform: uppercase;
}
.banner .sliderContent p{
    color: #fff;
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.button{
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    height:40px;
    line-height:40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    margin-top: 20px;
    border-radius:20px;
    background-color: #b98b59;
    padding: 0 40px;
    transition:all 0.4s linear;
}
.button:hover{
    background-color: #ebc195;   
    
}

/*---- CSS pointers Slide  Banner----*/

.banner .pointers{
    width:100vw;
    height: 15px;
    position:absolute;
    margin-top:-50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    border-radius:8px;
    margin: 0 5px;
    cursor:pointer;
}
.banner .pointers .active{
    background-color: #b98b59;
}

/*---- Default Content (Light) About Us Zone----*/

.default{
    display:flex;
    margin: auto;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding-top:50px;
    padding-bottom:50px;
}
.default .section-title,
.default .section-description{
    text-align: center;
    font-weight:bold;
    font-size:20px;
    text-transform:uppercase;
}
.default .section-description{
    color: #adadad;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.default .textArea a{
    display: inline-block;
    margin-top:40px;
}
.default .contentAboutUs{
    display: flex;
    padding: 20px;
    margin: auto;
    max-width: 1120px;
}
.default .textArea{
    color:#353535;
    font-size: 14px;
    line-height:25px;
    margin-right: 20px;;
}
.default .section-body .imgVideo{
    width:500px;
    height:auto;
    box-shadow: 2px 6px 12px #737272;
}
.default .imgArea{
    position:relative;
    cursor:pointer;
}
.default .section-body .legendaImage{
    width:500px;
    display:none;
    justify-content:center;
    align-items:center;
    color: #fff;
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.default .imgArea:hover .legendaImage{
    display:flex;
    transition: all 0.5s linear;
}




/*---- Area Default colors ----*/

.default.light{
    background-color: #f7f7f7;
    color: #000;
}
.default.dark{
    background-color: #000;
    color: #fff;
}
.default.white{
    background-color: #fff;
    color: #000;
}




/*---- AREA Services ----*/

.default.dark .section-services{
   display: flex;
   margin: auto;
   padding:20px;
   max-width: 1120px;
   justify-content:space-around;
   text-align:center;
}
.section-services .section-services--service img{
    width:60px;
    height:auto;
}
.section-services .section-services--service h1{
    text-transform: uppercase;
    font-size: 18px;
    margin-top:20px ;
}
.section-services .section-services--service p{
    font-size:13px;
    color: #4e4e4e;
    margin-top:10px;
    font-weight:600;
}
.default.dark .section-services .section-services--service{
    flex:1;
    padding: 10px;
    border-right: 1px solid #393939;
}
.default.dark .section-services .section-services--service.borderleft{
    border-left: 1px solid #393939;
}
.services .serviceIcon{
    width: 50px;
}


/*---- Our Projects (Filter bar area) ----*/

.section-body .projects{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 0 10px;
}
.section-body .filterProjects{
    background-color: #ededed;
    border-radius: 25px;
    display: inline-block;
    justify-content:center;
    align-items:center;
    border: 1px solid #ccc;
    padding:0px 20px;
}
.section-body .filterProjects ul{
    list-style: none;
    text-transform: uppercase;
}
.section-body .filterProjects li{
    display:inline-block;
    padding: 15px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}
.section-body .filterProjects ul li:last-child{
    border-right: 0;
}
.section-body .filterProjects ul li:hover{
    border-bottom: 5px solid #b98b59;
}
.section-body .filterProjects ul li.active{
    border-bottom: 5px solid #b98b59;
}
.section-body .projects a{
    display: block;
    width:190px;
    text-align:center;
    margin: 25px auto 0 auto;
}


/*---- AREA PROJECTS ----*/

.galeryProjects{
    width:100vw;
    max-width: 1120px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photoArea{
    width: 280px;
    cursor:pointer;
}
.photoArea img{
    width:260px;
    height:168px;
}
.photoArea .photo{
    margin: 10px;
    position: relative; 
   
}
.galeryProjects .photoArea .photoInfo{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height:168px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.7)
}
.galeryProjects .photoArea .photoInfo h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight:600;
}
.galeryProjects .photoArea .photoInfo p{
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    line-height:20px;
}

.galeryProjects .photoArea:hover .photoInfo{
    display: flex;
}


/*---- AREA OUR TEAM ----*/

.bg-team{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:0;
}
.section-team--area{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
    width:100vw;
}
.section-body{
    width: 100vw;
    max-width: 1120px;
    margin: auto;
}
.section-team{
    max-width:880px;
    overflow:hidden;
    margin: auto;
}
.section-team--sliders{
    width:1000vw; 
}
.section-team--sliders .slide{
    width:280px;
    display:inline-block;
    margin-bottom:20px;
    margin-right: 20px;
    min-height:300px;
    background-color:#fff;
    color:#000;
    justify-content:center;
    align-items:center;
}   
.section-team--sliders .slide--content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 40px 0px;
}
.section-team--avatar{
    width: 120px;
    margin-bottom: 30px;
}
.section-team--name{
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.section-team--desc{
    font-size: .7rem;
    color:#555;
    margin-bottom: 5px;
}
.section-team--socials{
    display:flex;
    justify-content:center;
    align-items:center;
}
.section-team--socials a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:20px;
    height:20px;
    background-color: #bfbfbf;
    padding: 15px;
    margin-right: 5px;
    border-radius: 20px;
    margin-top:30px;
    cursor:pointer;
    transition: all 0.3s linear;
}
.section-team--socials a:hover{
    background-color:#b98b59;
}


/*---- POINTERS SLIDE OUR TEAM----*/

.section-body .pointers{
    margin-top:40px;
    height: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.section-body .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    border-radius:8px;
    margin: 0 5px;
    cursor:pointer;
}
.section-body .pointers .active{
    background-color: #b98b59;
}


/*---- Area slide Happy Clients ----*/

.section-body{
    width:100vw;
    max-width: 1120px;
    overflow: hidden;
}
.section-client--sliders{
    width: 1000vw;
    display:flex;
}
.section-client--sliders .section-client--slide{
    width:100vw;
    max-width: 1120px;
    display:inline-block;
}
.section-body .section-slide--content{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    padding: 20px;
}
.section-body .section-slide--content--avatar{
    width:120px;
    margin-bottom:20px;
}
.section-body .section-slide--content--name{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.section-body .section-slide--content--description{
    font-weight: 600;
    font-size: 16px;
    margin-bottom:20px;
}
.section-body .section-slide--content--quoteImg{
    margin-bottom: 15px;
}
.section-body .section-slide--content--quote{
    color:#adadad;
    line-height:20px;
    max-width: 600px;
}


/*---- CSS POINTERS HAPPY CLIENTS----*/

.section-body .pointers{
    margin-top:30px;
    height: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.section-body .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    border-radius:8px;
    margin: 0 5px;
    cursor:pointer;
}
.section-body .pointers .active{
    background-color: #b98b59;
}


/*---- Companys ----*/

.companys .section-company{
    padding: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.companys .section-company .section-company-logo{
    margin-left:80px;
}
.companys .section-company .section-company-logo:first-child{
    margin-left:0;
}


/*---- Are Price ----*/

.tablePrice{
    width: 100%;
    display: flex;
    text-align: center;
}
.containerPrice{
    width: 100vw;
    max-width: 1120px;
    height: 100%;
}
.tablePrice .item-price{
    flex:1;
    padding: 30px;
    margin-right: 20px;
    background-color:#fff;
    border-radius:5px;
}
.tablePrice .item-price:last-child{
    margin-right:0;
}
.tablePrice .item-price .item-price--title{
    font-size: 13px;
    text-transform:uppercase;
    font-weight: 600;
    margin-bottom:10px;
}
.tablePrice .item-price .item-price--price{
    font-size: 25px;
    font-weight: bold;
    margin-bottom:-5px;
}
.tablePrice .item-price .item-price--desc{
    color: #353535;
}
.tablePrice .item-price span{
    text-transform:uppercase;
    color: #b5b5b5;
    font-size:10px;
    font-weight: normal;
    display: inline-block;
    margin-bottom:17px;
}
.tablePrice .item-price a{
    display:inline-block;
    width:130px;
    height:46px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size:13px;
    color: #fff;
    background-color: #373737;
    margin-top:30px;
    margin-bottom:0px;
    border-radius: 20px;
    text-transform: uppercase;
    transition:all 0.3s linear;
}
.tablePrice .item-price a:hover{
    background-color: #b98b59;
}
.tablePrice .item-price a.active{
    background-color: #b98b59;
}


/*---- Area Premium ----*/

.section-premium{
    width:100vw;
    max-width: 1120px;
    overflow: hidden;
}
.section-premium-sliders{
    width: 1000vw;
}
.section-premium-slide{
    width:100vw;
    max-width: 1120px;
    display:inline-block;
}
.section-premium-slide .slide-area{
    display:flex;
    border-bottom:1px solid #ccc;
}
.slide-area--books img{
    width:360px;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 0 20px;
    margin-top: 30px;
    margin-left: 90px;
}
.section-premium-slide--infos{
    flex: 2;
    padding: 35px 20px;
    margin-left: 20px;
}
.section-premium-slide--infos .section-premium-slide--infos--features{
    display:flex;
    flex-direction: column;
    margin-left: 30px;
}
.section-premium-slide--infos--features img{
    width: 30px;
    height: 27px;
    margin-right: 30px;
}
.section-premium-slide--infos--features .section-premium-slide--infos--features--desc{
    text-transform: uppercase;
    font-weight: 600;
    max-width: 480px;
    font-size: 20px;
   
}
.section-premium-slide--infos--features .section-premium-slide--infos--features--desc span{
    text-transform:none;
    font-weight: normal;
    color: #555;
    font-size: 13px;
}
.feature--content--one,
.feature--content--two,
.feature--content--three{
    display:flex;
    margin-bottom:30px;
}
.section-premium-slide--infos--features .section-premium-slide--infos--features--desc .feature-detals{
    text-transform: uppercase;
}

.section-premium .pointers{
    margin-top:30px;
    margin-bottom: 30px;
    height: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.section-premium .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    border-radius:8px;
    margin: 0 5px;
    cursor:pointer;
}
.section-premium .pointers .active{
    background-color: #b98b59;
}
.section-premium .button{
    margin:auto;
}

/*---- Area Some Facts ----*/

.section-facts{
    display: flex;
    width: 100vw;
    max-width: 1120px;
}
.section-facts--area{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex:1;
}
.facts-infos .facts-infos--numbers{
    font-weight: bold;
    color: #b98b59;
    font-size: 45px;
    text-align: center;
    padding: 5px;
}
.facts-infos--line{
    width: 20px;
    height:3px;
    background-color: #555;
    margin:auto;
}
.facts-infos .facts-infos--detals{
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.facts-infos .facts-infos--desc{
    color:#555;
    line-height:20px;
    width:150px;
    margin: auto;
    font-weight: 600;
}

/*---- AREA SOCIAL SHARE ----*/

.social-share{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
.section-share--area{
    display:flex;
}
.social-share .section-share--content{
    display:flex;
    align-items:center;
    color: #afafaf;
}
.social-share .section-share--content .share-description{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 50px;
}
.social-share--socials--icons{
    display: flex;
}
.section-share--area .section-social--content{
    display:flex;
    align-items:center;
    justify-content: center;
    color: #afafaf;
    font-weight: 600;
    font-size: 10px;
    margin-right: 30px;
}
.social-icon--twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    background-color:#32c5f1;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.social-icon--linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    background-color:#137cb5;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.social-icon--facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    background-color:#336296;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.social-icon--google{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    background-color:#e54136;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.social-icon--pinterest{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
    background-color:#b71c29;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/*---- AREA CONTACT US ----*/

input:focus{
    outline:none;
}
input{
    padding:10px 0;
    background-color:transparent;
}
input::placeholder{
    font-size: 10px;
    font-weight: 600;
    color: rgb(184, 183, 183);
}
input[type="submit"]{
    margin: 50px auto 0 auto;
    cursor: pointer;
}
.section-contactus--form{
    width:460px;
    margin-top: 25px;
}
.section-contactus--form--user{
    width: 100%;
    display:flex;
    justify-content:space-between;  
}
.section-contactus--form--user--name,
.section-contactus--form--user--email{
    width:50%;
    border-bottom: 2px solid rgb(184, 183, 183);
}
.section-contactus--form--user--name{
    margin-right: 20px;
}
.section-contactus--form--message{
    display:flex;
    flex-direction:column;
}
.section-contactus--form--user--subject,
.section-contactus--form--user--message{
    width:100%;
    border-bottom: 2px solid rgb(184, 183, 183);
}
.section-contactus--form--user--subject{
    margin-top: 20px;
    margin-bottom: 50px;
}


/*---- AREA MAP/LOCATION ----*/

.location-area{
    background-image:url(../images/mapa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.location-body{
    width: 100vw;
    max-width: 1120px;
    margin: auto;
    display:flex;
    padding:40px 10px;
    color:#aeaeae;
    font-weight: 600;
}
.location-body--infos{
    width: 50%;
    padding:40px 35px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 7px #555;
}
.location-body--infos--area{
    display:flex;
    align-items:center;
    margin-bottom: 14px;
}
.location-body--infos--image{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #aeaeae;
    width: 35px;
    height:35px;
    border-radius: 50%;
    margin-right: 18px;
}

/*---- AREA FOOTER ----*/

footer{
    background-color: #000;
    padding: 30px 0;
}
.footer-area{
    width: 100vw;
    max-width: 1120px;
    display:flex;
    margin: auto;
}
.footer-area--infos{
    flex:1;
    height:200px;
    color:#5e5d5d;
    padding: 5px;
    font-weight: 600;
}
.footer--socials{
    display:flex;
    align-items:center;
}
.footer-area--infos:first-child{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-area--infos:nth-child(2){
    line-height:20px;
    margin-right: 20px;
}
.footer--socials a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:20px;
    height:20px;
    background-color: #373737;
    padding: 15px;
    margin-right: 5px;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.3s linear;
}
.footer--socials a:hover{
    background-color:#b98b59;
}
.footer--socials .active{
    background-color:#b98b59;
}
.footer-copyright{
    color:#fff;
    font-weight:bold;
    font-size: 13px;
}
.footer-area--form{
    background-color: #373737;
    padding: 40px 10px;
    border-radius: 4px;
}
.footer-area--form form{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.footer-area--form input[type="email"]{
    border-bottom: 2px solid #ccc;
    width:70%;
    color:#fff;
}
.footer--email::placeholder{
    text-align: center;
    font-size: 12px;
}
.footer-area--form input[type="submit"]{
    margin: 20px 0;
}

/*---- AREA MENU MOBILE ----*/
.header .menu-mobile{
    display: none;
}

/*---- RESPONSIVIDADE ----*/

@media(max-width:1024px){
    .companys .section-company .section-company-logo{
        margin-left: 40px;
    }
}

@media(min-width:420px) and (max-width:820px){

    /*---- RESPONSIVIDADE MENU----*/

    nav{
        position: absolute;
        z-index: 99;
        width: 80vw;
        height: calc(100vh - 100px);
        background-color: rgba(0, 0, 0, 0.9);
        top: 100px;
        right: 0;
        display:none;
    }
    nav ul{
        flex-direction: column;
    }
    .menu {
        flex: 1;
        display: none;
        justify-content: flex-end;
    }
    .menu li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        height: 60px;
        margin-left: 50px;
        font-size: 1rem;
        border:0;
    }
    ul .active a {
        border:0;
        color:#b98b59;   
    }
    .menu li a:hover{
        border:0;
    }
    .header {
        max-width: 1120px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .menu-mobile{
        display:block;
        margin-right: 40px;

    }
    /*---- RESPONSIVIDADE OUR TEAM ----*/

    .section-team {
        max-width: 580px;
    }

    /*---- RESPONSIVIDADE ABOUT US----*/

    .contentAboutUs{
        flex-direction: column;
    }
    .contentAboutUs .textArea{
        margin-right: 0;
    }
    .contentAboutUs .imgArea{
        text-align: center;
        margin-top: 30px;
    }
    .default .textArea a{
        margin-top: 14px;
    }
    .default .contentAboutUs{
        padding: 0 20px;
    }

    /*---- RESPONSIVIDADE SERVICES----*/

    .section-services{
        flex-wrap: wrap;
    }
    .section-services .section-services--service{
        min-width: 50%;
        margin-bottom:30px;
        border-right: 0;
    }
    .default.dark .section-services .section-services--service{
        border: 0;
    }
    .section-services:nth-child(2){
        border-right: 0;
    }
    .default.dark .section-services .section-services--service.borderleft{
        border-left:0;
    }

    /*---- RESPONSIVIDADE PRICE----*/

    .tablePrice{
        flex-wrap: wrap;
    }
    .tablePrice .item-price{
        min-width: 50%;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom:30px;
    }
    .tablePrice .item-price:last-child{
        margin-right: 30px;
    }

    /*---- RESPONSIVIDADE PREMIUM----*/

    .section-premium-slide--infos {
        margin: 0;
    }

    /*---- RESPONSIVIDADE SOME FACTS----*/

    .section-facts{
        flex-wrap: wrap;
    }
    .section-facts--area{
        min-width: 50%;
        margin-bottom: 30px;
    }

    /*---- RESPONSIVIDADE MAP----*/

    .location-body--infos {
        width: 100%;
    }
    .location-body{
        padding: 50px;
    }
    /*---- RESPONSIVIDADE SOCIAL SHARE----*/

    .social-share {
        padding: 20px 10px;
    }
    .section-share--content{
        font-size: 10px;
    }

    /*---- RESPONSIVIDADE FOOTER----*/

    footer{
        padding: 30px 10px 0px 10px;
    }
    .footer-area{
        flex-direction: column;
    }
    .footer-copyright{
       margin-top:50px;
       text-align: center;
    }
    .footer-area--infos{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .footer--socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-area--form{
        max-width: 400px;
        margin: auto;
    }
}

@media(max-width:419px){

    /*---- RESPONSIVIDADE MENU ----*/

    nav{
        position: absolute;
        z-index: 99;
        width: 80vw;
        height: calc(100vh - 100px);
        background-color: rgba(0, 0, 0, 0.9);
        top: 100px;
        right: 0;
        display:none;
    }
    nav ul{
        flex-direction: column;
    }
    .menu {
        flex: 1;
        display: none;
        justify-content: flex-end;
    }
    .menu li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        height: 48px;
        margin-left: 50px;
        font-size: 0.8rem;
        border: 0;
    }
    ul .active a {
        border:0;
        color:#b98b59;   
    }
    .menu li a:hover{
        border:0;
    }
    .header {
        max-width: 1120px;
        height: 100px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .menu-mobile{
        display:block;
        margin-right: 40px;

    }

    /*---- RESPONSIVIDADE TITLE BANNER ----*/

    .banner .sliderContent h1 {
        text-transform: uppercase;
        font-size: 2.8em;
        line-height: 50px;
        margin-bottom: 13px;
    }

    /*---- RESPONSIVIDADE ABOUT US----*/

    .contentAboutUs{
        flex-direction: column;
    }
    .contentAboutUs .textArea{
        margin-right: 0;
    }
    .contentAboutUs .imgArea{
        text-align: center;
        margin-top: 30px;
    }
    .default .textArea a{
        margin-top: 14px;
    }
    .default .contentAboutUs{
        padding: 0 20px;
    }
    .default .section-body .imgVideo {
        width: 100%;
        height: auto;
        box-shadow: 2px 6px 12px #737272;
    }

    /*---- RESPONSIVIDADE SERVICES----*/

    .section-services{
        flex-wrap: wrap;
    }
    .section-services .section-services--service{
        min-width: 100%;
        margin-bottom:30px;
        border-bottom: 1px solid rgb(253, 248, 248);
    }
    .default.dark .section-services .section-services--service{
        border: 0;
    }
    .section-services:nth-child(2){
        border-right: 0;
    }
    .default.dark .section-services .section-services--service.borderleft{
        border-left:0;
    }

    /*---- RESPONSIVIDADE GALERY PROJECTS ----*/

    .photoArea {
        width: 300px;
    }

    /*---- RESPONSIVIDADE SERVICES----*/
    .section-team {
        max-width: 280px;
    }

    /*---- RESPONSIVIDADE PRICE----*/

    .tablePrice{
        flex-wrap: wrap;
    }
    .tablePrice .item-price{
        min-width: 50%;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom:30px;
    }
    .tablePrice .item-price:last-child{
        margin-right: 30px;
    }

    /*---- RESPONSIVIDADE PREMIUM----*/

    .section-premium-slide .slide-area{
        flex-direction: column;
    }
    .slide-area--books img {
        width: 360px;
        padding: 0 20px;
        margin: auto;
    }
    .section-premium-slide--infos{
        margin-left:0;
    }

    /*---- RESPONSIVIDADE SOME FACTS----*/

    .section-facts{
        flex-wrap: wrap;
    }
    .section-facts--area{
        min-width: 100%;
        margin-bottom: 30px;
    }

    /*---- RESPONSIVIDADE SOCIAL SHARE----*/

    .section-share--area{
        flex-direction:column;
    }
    .social-share .section-share--content {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #afafaf;
    }
    .section-social--content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-share .section-share--content .share-description{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .section-share--area .icon--share{
        display: none;
    }
    .social-share--socials--icons{
        display: flex;
    }
    .section-share--area .section-social--content{
        margin-right:15px;
    }
    .section-social--content:last-child{
        margin-right: 0;
    }
    .social-icon--pinterest,
    .social-icon--twitter,
    .social-icon--facebook,
    .social-icon--google,
    .social-icon--linkedin{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    /*---- RESPONSIVIDADE FORM ----*/ 

    .section-contactus--form{
        width:100vw;
        padding: 10px;
        margin-top:0px;
    }
    .section-contactus--form--user{
        flex-direction: column;
    }
    
    .section-contactus--form--user--email,
    .section-contactus--form--user--name{
        width: 100%;
        margin-top: 30px;
    }
    .section-contactus--form--user--name{
        margin-top:0;
        margin-right: 0;
    }
    .section-contactus--form--user--email::placeholder{
        text-align: left;
    }
    .section-contactus--form--user--subject,
    .section-contactus--form--user--message{
        margin-bottom: 0;
        margin-top: 30px;
    }

    /*---- RESPONSIVIDADE MAP----*/

    .location-body--infos {
        width: 100%;
        padding: 5px;
    }
    .location-body{
        padding: 10px;
    }
    .location-body--infos--description{
        font-size: 10px;
    }
    .location-body--infos--image{
        width:21px;
        height: 21px;
    }
    .location-body--infos--image img{
        width:12px;
    }
    
    /*---- RESPONSIVIDADE FOOTER----*/

    footer{
        padding: 30px 10px 0px 10px;
    }
    .footer-area{
        flex-direction: column;
    }
    .footer-copyright{
       margin-top:50px;
       text-align: center;
    }
    .footer-area--infos{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .footer--socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-area--form{
        max-width: 400px;
        margin: auto;
    }

    /*---- RESPONSIVIDADE COMPANY ----*/

    .companys .section-company{
        flex-direction: column;
    }
    .companys .section-company .section-company-logo{
        margin-right: 0;
        margin-left: 0;
        margin-bottom:20px;
    }
    .companys .section-company .section-company-logo:last-child{
        margin-bottom:0px;
    }
}